<style>
    .navbar-brand {
            font-size: 25px;
            color: rgb(198, 18, 18);
        }
        .nav-link {
            font-size: 18px;
            color: rgb(39, 39, 39) !important;
            margin-left: 10px;
        }
        .nav-link:hover{
          color: black !important;
        }
        .navbar {
            background-color: rgb(255, 255, 255);
            height: 80px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        }
        .custom-container {
            margin: 0; 
            padding: 0; 
        }
        .user i{
          font-size: 25px;
          color: black;
          margin-left: 1050px;
          margin-top: 10px;
        }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-ribbon"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a style="font-weight: bold;" class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listing">All Listings</a>
        <a class="nav-link" href="/listing/new">Add new Listing</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if(!curUser){ %>
        <a class="nav-link" href="/signup">SignUp</a>
      <a class="nav-link" href="/login">Login</a>
      <% } %>
      <% if(curUser){ %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
    </div>
  </div>
  </nav>